<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- 控制台日志配置 -->
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<!-- 日志输出格式 -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
		</layout>
	</appender>
	<!-- 文件存储日志配置 -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="logs/log.log" />
		<appendToFile value="true" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8" />
		<!-- 每个文件的大小 -->
		<maximumFileSize value="1000KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="10" />
		<!-- 日志输出格式 -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="SpecialDebug">
		<level value="ALL" />
		<appender-ref ref="DeBugFile" />
	</logger>
	<!-- 文件存储日志配置 -->
	<appender name="DeBugFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="logs/debug.log" />
		<appendToFile value="true" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8" />
		<!-- 每个文件的大小 -->
		<maximumFileSize value="100KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="10" />
		<!-- 日志输出格式 -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="Monitor">
		<level value="ALL" />
		<appender-ref ref="MonitorFile" />
	</logger>
	<!-- 文件存储日志配置 -->
	<appender name="MonitorFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="logs/monitor.log" />
		<appendToFile value="true" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8" />
		<!-- 每个文件的大小 -->
		<maximumFileSize value="100KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="10" />
		<!-- 日志输出格式 -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="CuttingRecord">
		<level value="ALL" />
		<appender-ref ref="CuttingRecordFile" />
	</logger>

	<!-- 文件存储日志配置 -->
	<appender name="CuttingRecordFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="logs/CuttingRecord.log" />
		<appendToFile value="true" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8" />
		<!-- 每个文件的大小 -->
		<maximumFileSize value="100KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="10" />
		<!-- 日志输出格式 -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>